table {
  /* border-collapse: collapse; */
}
td {
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 10px;
}

tbody td {
  /* background-color: red; */
}

thead tr {
  background-color:red;
}
tbody tr:nth-child(odd) {
  background-color: #e4d7d7;
}

tbody :hover {
  background-color: hsl(0, 10%, 80%);
}
